@font-face {
    font-family: "Necto Mono";
    src: url("NectoMono-Regular.woff2");
}

/* Variables */
:root {
    /* Font sizes */
    --large-text: 1.25rem;
    --medium-text: 1rem;
    --small-text: 0.75rem;

    /* Gaps */
    --large-gap: 1rem;
    --medium-gap: 0.5rem;
    --small-gap: 0.25rem;

    /* Borders */
    --large-radius: 0.5rem;
    --small-radius: 0.25rem;
    --border-width: 0.125rem;

    /* Colors */
    --primary-color: #070707;
    --background-color: #f6f4f2;
    --accent-color: #e0772d;
    --darker-accent-color: #ae5a1e;
    --placeholder-color: #b1b2b5;
}

/* Global styles */
:root {
    font-family: "Necto Mono", monospace;
    font-size: var(--medium-text);
    color: var(--primary-color);
}

html {
    background-color: var(--background-color);
}

html, body, #app {
    height: 100%;
}

h1 {
    font-size: var(--large-text);
}

button {
    border-radius: var(--small-radius);
    background-color: var(--accent-color);
    color: var(--background-color);
    font-family: "Necto Mono";
    cursor: pointer;
    padding: var(--small-gap) var(--medium-gap);
}

canvas {
    background-color: var(--placeholder-color);
}