:root {
    --primary: #070707;
    --background: #f6f4f2;
    --accent: #e0772d;
    --darker-accent: #ae5a1e;
    --placeholder: #b1b2b5;
}

:root {
    --large-text: 18px;
    --medium-text: 15px;
    --small-text: 10px;
}

:root {
    --large-gap: 15px;
    --small-gap: 10px;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--background);
}

@font-face {
    font-family: "Necto Mono";
    src: url("../fonts/NectoMono-Regular.woff2") format("woff2");
}

div, h1, h2, h3, p {
    font-family: "Necto Mono";
    color: var(--primary);
}

h2 {
    font-size: var(--large-text);
}

p {
    font-size: var(--medium-text);
}

button {
    border: none;
    border-radius: 5px;
    background-color: var(--accent);
    color: var(--background);
    font-family: "Necto Mono";
    font-size: 15px;
    cursor: pointer;
}

canvas {
    background-color: var(--placeholder);
}

input {
    font-family: "Necto Mono";
    border: 2px solid var(--accent);
    background-color: var(--darker-accent);
    color: var(--background);
    border-radius: 3px;
    padding: 3px;
}

.pointer {
    cursor: pointer;
}